<!step 7.3: add url tag for specific post by specifing name from url.py. 
'mountain' is hardcoded for testing, it wont work because we didnt specify the function yet !> 
<! step 10.3: excerpt, title, image, author and url slug is added, here we have used ''.'' notations and 'add' tag !>



{% load static %}


<li>
    <article class="post">
      <a href="{% url "blog_details" post.slug %}">
        <img src="{% static 'blog/images/'|add:post.image %}" alt={{ postauthor | title }} />
        <div class="post__content">
          <h3>{{ post.title | title}}</h3>
          <p>
              {{ post.excerpt }}
          </p>
        </div>
      </a>
    </article>
</li>