<!step 7.3: add url tag for specific post by specifing name from url.py. 
'mountain' is hardcoded for testing, it wont work because we didnt specify the function yet !> 
<! step 10.3: excerpt, title, image, author and url slug is added, here we have used ''.'' notations and 'add' tag !>
<!step 19.4: on post.html and detail_post.html change the name 'image' to image_name'!>
<!step 22.3: In post.html, remove static and add post.image.url!>

{% load static %}


<li>
    <article class="post">
      <a href="{% url "blog_details" post.slug %}">
        <img src="{{ post.image.url }}" alt="{{ postauthor | title }}" />
        <div class="post__content">
          <h3>{{ post.title | title}}</h3>
          <p>
              {{ post.excerpt }}
          </p>
        </div>
      </a>
    </article>
</li> 