<!step 8.1: add detail_post html file, adding image and some hardcodes are give but it will be change to dynamic in upcoming steps!>
<! step 11.4: In post.html, using the same key, change title, image, author, posted date and content dynamicly generated, learned (line break filter) !>
<!step 19.4: on post.html and detail_post.html change the name 'image' to image_name'!>
<!step 20.2: In detail_post.html file, generate the tags using for loop.!>
<!step 20.4: convert author name to href by clicking it takes us to the author email in detail_post.html, also add some style in css file !>
<!step 22.2: In detail_post.html, remove static and add post_detail.image.url to get the post_detail.image.url!>
<!step 25.4: In detail_post.html, create new div, form and call the created name for the form class!>
<!step 26.2: to create comment form to all, create for loop and call the fields as shown !>
<!step 27.1: In detail_post.html, Add csrf token, action and method to the form !>
<!step 28.2: In detail_pot.html, use if statements to call the error in side the class. 
  step 28.3: In detail_pot.html, also create an aleart on the top of the page and include FIX href tag to take to the error.!>
<!step 29.2: in detail_post.html, display the comments using for loop !>



{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post_detail.title }}
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/detail_post.css' %}">
    
{% endblock css_file %}

{% block content %}
{% if comment_form.errors %}
    <div id="alert">
        <h2>Somthing went wrong!</h2>
        <p>Please check the error in the form below and fix the error!</p>
        <a href="#comment-form">Fix </a>
    </div>
{% endif %}

<section id="summary">
    <h2> {{ post_detail.title | title}} </h2>
    <br>
    <div>
        {% for tag in post_tag %} 
            <span class="tag"> {{tag.caption}} </span>
        {% endfor %}
        
    </div>
    <article>
        <img src="{{ post_detail.image.url }}" alt="{{ post_detail.title }}" />
        <address> By <a href="mailto: {{ post_detail.author.email}}"> {{post_detail.author | title}} </a> </address>
        <div>last update on <time> {{post_detail.date | date:"D d m y"}}</time> </div>
    </article>
</section>

<main>
    {{post_detail.content | linebreaks}}
</main>
<section id="comments">
    
        <ul>
            {% for comment in comment%}
                <li>
                    <h2>{{ comment.user_name|title }}</h2>
                    <p>{{ comment.text|linebreaks  }}</p>
                    <h5> {{ comment.date}} </h5>
                </li> 
            {% endfor %}
        </ul>
    
</section>
<section id="comment-form">
    <h2> Your Comment </h2>
    <form action="{% url "blog_details" post_detail.slug %}" method="POST">
        {% csrf_token %}
        {% for form_field in comment_form %}
            <div class = "form-control {% if form_field.errors%} invalid {% endif %}">
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors }}
            </div> 
        {% endfor %}
        <button> Save Comment </button>   
    </form>
</section>


{% endblock content%}