<!step 8.1: add detail_post html file, adding image and some hardcodes are give but it will be change to dynamic in upcoming steps!>
<! step 11.4: In post.html, using the same key, change title, image, author, posted date and content dynamicly generated, learned (line break filter) !>
<!step 19.4: on post.html and detail_post.html change the name 'image' to image_name'!>
<!step 20.2: In detail_post.html file, generate the tags using for loop.!>

{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ post_detail.title }}
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/detail_post.css' %}">
    
{% endblock css_file %}

{% block content %}
<section id="summary">
    <h2> {{ post_detail.title | title}} </h2>
    <br>
    <div>
        {% for tag in post_tag %} 
            <span class="tag"> {{tag.caption}} </span>
        {% endfor %}
        
    </div>
    <article>
        <img src="{% static 'blog/images/'|add:post_detail.image_name %}" alt="{{ post_detail.title }}" />
        <address> By <a href="mailto: test@test.com"> {{post_detail.author | title}} </a> </address>
        <div>last update on <time> {{post_detail.date | date:"D d m y"}}</time> </div>
    </article>
</section>

<main>
    {{post_detail.content | linebreaks}}
</main>
{% endblock content%}