<! step3.1: create index template inside app folder !> 
<! step 3.4: create blocks based on base template !>
<! step 4.3: create content inside the block content!>
<! step 4.6: link index.css file with its path in index.html!>
<! step 5.1: add image folder under static/blog and add some images, using static add the image path and refresh the page!>
<! step 10.2: add 'for' loop to create the multiple post, the number of post is specified from views.py slicing !>




{% extends 'base.html' %}
{% load static %}

{% block title %}Blog{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_file %}

{% block content %}
<section id="welcome">
  <header>
    <img src="{% static 'blog/images/man.jpeg' %}" alt="shiv - The Author Of This Blog" />
    <h2>Shiv'S BLOG</h2>
  </header>
  <p>Hi, I am Shiv and I love to blog about tech and the world!</p>
</section>

<section id="latest-posts">
  <h2>My Latest Thoughts</h2>

  <ul>
    {% for post in post %}
      {% include "blog/includes/post.html" %}
    {% endfor %}
  </ul>
</section>

<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, I love to help others and I enjoy exploring new
    technologies in general!
  </p>
  <p>
    My goal is to keep on growing as a developer - and if I could help you do
    the same, I'd be very happy!
  </p>
</section>
{% endblock content %}
