<!step 33.2: create new html page as stored_post.html, to show the list of read later links.!>


{% extends 'base.html' %}
{% load static %}

{% block title %}
Stored Post
{% endblock title %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/stored_post.css' %}">
    
{% endblock css_file %}

{% block content %}
<section id="stored-posts"> 
    {% if not has_post %}
        <p> You Didn't save any post!</p>
    {% endif %}
    <ul>
        {% for post in posts %}
        <li> <a href = "{% url "blog_details" post.slug %}"> {{ post.title }} </a></li>
        {% endfor %}
    </ul>
</section>
{% endblock  %}