<!step 3.2: create base templete globally which holde only the base skelton !>
<!step 3.3: add block to title, body and to insert css file!>
<!step 4.5: load static and link app.css in base.html file  !>
<!step 7.1: add url tag for shiv blog by specifing name from app url.py!>
<!step 7.2: add url tag for all post by specifing name from app url.py!>

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} </title>
    <link rel="stylesheet" href="{% static "app.css" %}">
    {% block css_file %} 
    {% endblock css_file %}
</head>

<body>
  <header id="main-navigation">
    <h1><a href="{% url 'home' %}">Shiv Blog</a></h1>
    <nav>
      <a href="{% url 'blogs' %}">All Posts</a>
    </nav>
  </header>
  <section id="all_post_sec">
  {% block content %}
   
       
  {% endblock content %}
  </section>
</body>
</html>